@using System.Security.Claims
@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4" style="display:flex; justify-content:space-between;">
            <p style="align-self: flex-end">@DateTime.Now.ToLongDateString()</p>
            <AuthorizeView>
                <p style="align-self: flex-end">Welcome, @context.User.Identity.Name [role: @context.User.FindFirst(ClaimTypes.Role).Value]</p>
                <a href="profile">My Account</a>
            </AuthorizeView>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
