@inject ILocalStorageService LocalStorage
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IToaster Toaster

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href=""><i class="fa fa-2x fa-ravelry"></i> Stafferable</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span><i class="fa fa-lg fa-home"></i> Home</span>
            </NavLink>
        </div>
        <AuthorizeView>
            <Authorized>

                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="projects">
                        <span><i class="fa fa-lg fa-briefcase"></i> Projects [admin]</span>
                    </NavLink>
                </div>

                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="timesheet">
                        <span><i class="fa fa-lg fa-calendar-check-o"></i> Timesheet</span>
                    </NavLink>
                </div>

            </Authorized>
        </AuthorizeView>
        <hr style="color:white" />
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="register">
                <span><i class="fa fa-lg fa-user-plus"></i> Register</span>
            </NavLink>
        </div>
        <AuthorizeView>
            <NotAuthorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="login">
                        <span><i class="fa fa-lg fa-sign-in"></i> Login</span>
                    </NavLink>
                </div>
            </NotAuthorized>
        </AuthorizeView>
        <div class="sidebar-logout">
            <AuthorizeView>
                <Authorized>
                    <div class="nav-item px-3">
                        <button type="button" class="btn btn-light btn-block" style="width:100%" @onclick="Logout"><i class="fa fa-lg fa-sign-out"></i> Logout</button>
                    </div>
                </Authorized>
            </AuthorizeView>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private async Task Logout()
    {
        await LocalStorage.RemoveItemAsync("authToken");
        await AuthenticationStateProvider.GetAuthenticationStateAsync();
        NavigationManager.NavigateTo("");
        Toaster.Info("Logged out.");
    }
}
