<MudGrid Justify="Justify.Center">

    <MudItem xs="12" sm="3">
        <MudPaper Class="pa-3" Elevation="5">
            <MudText Typo="Typo.h6">Slab Stage</MudText>
            <MudText Typo="Typo.body1"><b>Completed</b></MudText>
        </MudPaper>
    </MudItem>
    <MudItem xs="12" sm="3">
        <MudPaper Class="pa-3" Elevation="5">
            <MudText Typo="Typo.h6">B'Regs' Stage</MudText>
            <MudText Typo="Typo.body1"><b>In Progress</b></MudText>
        </MudPaper>
    </MudItem>
    <MudItem xs="12" sm="3">
        <MudPaper Class="pa-3" Elevation="5">
            <MudText Typo="Typo.h6">Production Stage</MudText>
            <MudText Typo="Typo.body1"><b>Not Started</b></MudText>
        </MudPaper>
    </MudItem>
    <MudItem xs="12" sm="3">
        <MudPaper Class="pa-1 text-center" Elevation="5">
            <div class="row">
                <div class="col">
                    <MudText Typo="Typo.body2" Align="Align.Center">Drawings Received?</MudText>
                    <MudCheckBox @bind-Checked="@TestCheck1" Dense="false" Color="Color.Primary" Disabled="true"></MudCheckBox>
                </div>
                <div class="col">
                    <MudText Typo="Typo.body2" Align="Align.Center">Engineering Received?</MudText>
                    <MudCheckBox @bind-Checked="@TestCheck2" Dense="false" Color="Color.Primary" Disabled="true"></MudCheckBox>
                </div>
            </div>
        </MudPaper>
    </MudItem>

    <MudItem xs="12" sm="4">
        <MudPaper Class="pa-4">
            <MudText Typo="Typo.h6">Order Placed: <b>July 26, 2022</b></MudText>
        </MudPaper>
    </MudItem>
    <MudItem xs="12" sm="4">
        <MudPaper Class="pa-4">
            <MudText Typo="Typo.h6">Delivery Date: <b>July 26, 2022</b></MudText>
        </MudPaper>
    </MudItem>
    <MudItem xs="12" sm="2">
        <MudPaper Class="pa-4">
            <MudText Typo="Typo.h6" Align="Align.Center"><u>Design Info</u></MudText>
        </MudPaper>
    </MudItem>
    <MudItem xs="12" sm="2">
        <MudPaper Class="pa-4">
            <MudText Typo="Typo.h6" Align="Align.Center"><u>Planner</u></MudText>
        </MudPaper>
    </MudItem>

    <MudItem xs="12" sm="12">
        <MudPaper Class="pa-4" style="margin-bottom: 2px" Elevation="4">
            <div class="row">
                <div class="col">
                    <MudText Typo="Typo.h6">Slab, Setting Outs</MudText>
                    <div class="d-flex">
                        <ul>
                            <li><MudText Typo="Typo.button" Class="mr-2">Required: <b>July 26, 2022</b></MudText></li>
                            <li><MudText Typo="Typo.button" Class="mr-2">Estimated: <b>July 26, 2022</b></MudText></li>
                            <li><MudText Typo="Typo.button" Class="mr-2">Issued: <b>July 26, 2022</b></MudText></li>
                        </ul>
                    </div>
                </div>
                <div class="col">
                    <MudText Typo="Typo.h6">Building Reg's</MudText>
                    <div class="d-flex">
                        <ul>
                            <li><MudText Typo="Typo.button" Class="mr-2">Required: <b>July 26, 2022</b></MudText></li>
                            <li><MudText Typo="Typo.button" Class="mr-2">Estimated: <b>July 26, 2022</b></MudText></li>
                            <li><MudText Typo="Typo.button" Class="mr-2">Issued: <b>July 26, 2022</b></MudText></li>
                        </ul>
                    </div>
                </div>
                <div class="col">
                    <MudText Typo="Typo.h6">Full Set</MudText>
                    <div class="d-flex">
                        <ul>
                            <li><MudText Typo="Typo.button" Class="mr-2">Required: <b>July 26, 2022</b></MudText></li>
                            <li><MudText Typo="Typo.button" Class="mr-2">Estimated: <b>July 26, 2022</b></MudText></li>
                            <li><MudText Typo="Typo.button" Class="mr-2">Issued: <b>July 26, 2022</b></MudText></li>
                        </ul>
                    </div>
                </div>
                <div class="col">
                    <MudText Typo="Typo.h6">Issuing</MudText>
                    <div class="d-flex">
                        <ul>
                            <li><MudText Typo="Typo.button" Class="mr-2">Required: <b>July 26, 2022</b></MudText></li>
                            <li><MudText Typo="Typo.button" Class="mr-2">Estimated: <b>July 26, 2022</b></MudText></li>
                            <li><MudText Typo="Typo.button" Class="mr-2">Issued: <b>July 26, 2022</b></MudText></li>
                        </ul>
                    </div>
                </div>
            </div>
        </MudPaper>
        <MudPaper Class=" mt-4">
            <MudTextField T="string" Label="Comments" Variant="Variant.Filled" Text="@sampleText" Lines="3" />
        </MudPaper>
        <MudPaper Class="pa-4 mt-4">
            <MudButton Variant="Variant.Filled" Color="Color.Primary" DisableElevation="true">Update</MudButton>
            <MudButton Variant="Variant.Filled" Color="Color.Secondary" DisableElevation="true" Class="mx-2">Delete</MudButton>
        </MudPaper>
    </MudItem>
</MudGrid>

@code {
    [Parameter]
    public Project Project { get; set; }

    bool TestCheck1 = true;
    bool TestCheck2 = false;
    string sampleText = "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.";

}
