@page "/project/{ProjectId:guid}/board"
@inject IProjectServiceClient ProjectService

<div style="display: flex; align-items: center; justify-content: space-between">
    <div>
        <div style="display: inline-block">
            <MudText Typo="Typo.h4"><b>@project.Number @project.Name</b></MudText>
        </div>
        <div style="display: inline-block">
            <MudMenu Icon="@Icons.Material.Filled.Settings" Color="Color.Primary">
                <MudMenuItem>Update Project Details</MudMenuItem>
                <MudMenuItem>Change Project Status</MudMenuItem>
                <MudMenuItem>Archive</MudMenuItem>
            </MudMenu>
        </div>
    </div>

    <div style="display: inline-block">
        <MudChip Variant="Variant.Filled" Color="Color.Info" Size="Size.Medium">@project.Status</MudChip>
    </div>
</div>

<MudTabs Border="true" Rounded="true" PanelClass="pa-3">
    <MudTabPanel Text="Details">
        <ProjectDetails Project="project" />
    </MudTabPanel>
    <MudTabPanel Text="Workload">
        <ProjectWorkload Project="project" />
    </MudTabPanel>
    <MudTabPanel Text="Tasks">
        <ProjectTasks Project="project" />
    </MudTabPanel>
    <MudTabPanel Text="Estimating" Disabled="true">
        <MudText>Content Disabled</MudText>
    </MudTabPanel>
    <MudTabPanel Text="Timeline" Disabled="true">
        <MudText>Content Disabled</MudText>
    </MudTabPanel>
    <MudTabPanel Text="Progress" Disabled="true">
        <MudText>Content Disabled</MudText>
    </MudTabPanel>
    <MudTabPanel Text="Team" Disabled="true">
        <MudText>Content Disabled</MudText>
    </MudTabPanel>
</MudTabs>

@code {
    [Parameter]
    public Guid ProjectId { get; set; }

    Project project = new Project();

    protected override async Task OnParametersSetAsync()
    {
        project = (await ProjectService.GetSingleProject(ProjectId)).Data;
    }
}
