<div>
    <div class="row m-2">
        <div class="col-sm-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Plot</h5>
                    <div>2</div>
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Block</h5>
                    <div>-</div>
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Site</h5>
                    <div>Self-Build</div>
                </div>
            </div>
        </div>
    </div>
    <div class="row m-2">

        <div class="col-sm-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Panels Size</h5>
                    <div>Small</div>
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">VCL</h5>
                    <div>Gauge 400 Pro</div>
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Wal Style</h5>
                    <div>Ultima 13mm</div>
                </div>
            </div>
        </div>
    </div>
    <div class="row m-2">
        <div class="col-sm-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Site Address</h5>
                    <div>33 Trevenbyn Road</div>
                    <div>Padstow</div>
                    <div>Cornwall PL28 8DN</div>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Home Address</h5>
                    <div>33 Trevenbyn Road</div>
                    <div>Padstow</div>
                    <div>Cornwall PL28 8DN</div>
                </div>
            </div>
        </div>
    </div>
    <div class="row m-2">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <p class="card-text"><small class="text-muted">Last updated: July 26, 2022</small></p>
                </div>
            </div>
        </div>
    </div>
    <div class="row m-2">
        <div class="col-sm-6">
            <div class="card text-right">
                <div class="card-body">
                    <p class="card-text"><small class="text-muted">Date added: April 11, 2022</small></p>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public Project Project { get; set; }
}
